@media only screen and (max-width: 720px){
    /* main body */
    main {
        gap: 0px;
    }

    #name, #portfolio {
        display: none;
    }

    /* navigation */
    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    ul {
        display: none;
    }

    li {
        display: block;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: #000000;
        font-size: 5vw;
    }

    hr {
        display: none;
    }

    #mobile {
        display: flex;
        align-items: center;
        gap: 20px;

    }

    #nav-title {
        font-size: 8vw;
        font-weight: bold;
    }

    #hamburger {
        font-size: 8vw;
        font-weight: bolder;
        background: none;
        border: hidden;
    }

    /* content */
   .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px;
        flex: 1 1 auto;
    }

    .infoContainer {
        flex-direction: column;
    }

    .info h2{
        font-size: 8vw;
        text-align: center;
        word-wrap: break-word;
    }
    
    .info p {
        font-size: 4vw;
        word-wrap: break-word;
    }

    .title {
        font-size: 5vw;
    }

    .imgCount p {
        display: inline;
        font-size: 4vw;
    }
    
    .left, .right {
        background: none;
        border: hidden;
    }

    /* social media */
    #socialMedia {
        background-color: brown;
        border-radius: 2rem;
        right: 0px;
    }
}
